# Build outputs
**/bin/
**/obj/
**/dist/
**/dist-ssr/
**/publish/

# IDE/Editor files
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Packages & Modules
**/node_modules/
jspm_packages/
web_packages/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Security / Certificates (Exclude generated jwt.pfx)
*.pfx
*.pem
*.cer
*.crt

# OS files
.DS_Store
Thumbs.db
